# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store


venv/
__pycache__/
*.pyc
db.sqlite3
.env
node_modules/